
<%= form_with(url:  search_topics_path(@topics.ids), local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "キーワード入力", class: "search-input" %>
  <%= form.submit "スレタイ検索", class: "search-btn" %>
<% end %>

<div class = "topics">
  <h1>トピック一覧</h1>
  <ul>
    <% @topics.each do |topic| %>
      <%= link_to topic_path(topic.id) do%>
        <%= topic.title %>(<%= topic.posts.count%>)
      <% end %>
    <% end %>
  </ul>
</div>

<div class = "topics">
  <h1>トピック新規登録</h1>
  <%= form_for @newTopic, :url => {:action => 'create'} do |f| %>
    <%= f.text_field :title %>
    <%= f.submit %>
  <% end %>
</div>


