<div class = "header">
  <div class= "header__left"> 
    <%= link_to "TOP", root_path%>
  </div>
  <%= form_with(url: search_topics_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "キーワード入力", class: "search-input" %>
    <%= form.submit "スレタイ検索", class: "search-btn" %>
  <% end %>
</div>

<% @topics.each do |topic| %>
  <div class="list_line">
    <%= link_to topic_path(topic.id) do%>
      <div class="list_line_link_title">
        <%= topic.title%>
      </div>
    <% end %>
    <div class="list_line_info_container">2020年03月06日 17:54</div>
    </div>
  </div>
<% end %>